* {
   margin:0px;
   padding:opx;}

section,header,nav,aside,footer{display:block;}

body {width:100%;
     }
	 
body a:link {color:blue;
             }	 

body a:visited {color:black;}
body a:hover {color:blue;}

	  

#header1 {
	      width:1350px;
		  text-align:center;
	      color:white;
		  padding-top:30px;
		  border:4px solid black;
          background:black;
		  height:120px;
          }

#searchbar {border:1px solid black;
            font-size:16px;
            outline:none;
            width:1000px;
			padding:10px;
			margin-top:10px;
			margin-left:10px;
			margin-bottom:10px;
			}

#searchbtn {border:1px solid black;
            font-size:16px;
            padding:10px;
			
            background-color:yellow;
            font-weight:bold;
            cursor:pointer;
            outline:none;
			border-top-right-radius:10px;
			border-bottom-right-radius:10px;}			

#nav1 {float:left;
	   width:1350px;
	   height:50px;
	   border:4px solid black;
       background-color:orange;
	   color:white;}
	   
#nav1 li{display:inline-block;
		 padding:10px;
		 margin:10px;
         font:bold 14px tahoma;
		 }		  
#products {font:bold 30px century gothic;
           margin-left:20px;
           margin-top:20px;
		   width:1350px;
		   height:450px;}
		   
#products h1{margin-left:400px;
             }		   

#products img {float:left;}		

#atc {margin-left:20px;}

#cod {float:right;
      font:25px century gothic;}	   

	  
#pages {margin-left:450px;
        height:30px;
		padding:20px;
		font:30px century gothic;}


#foot   {font:bold 30px century gothic;
	     color:white;
	     border:2px solid black;
         background:black;
		 width:1350px;
		 height:300px;
		 margin-top:5px;
		 text-align:center;
		 padding-top:10px;}
	
#foot img{background-color:blue;
          border-radius:50%;}	
		 
#fb {float:right;
     font:bold 25px century gothic;
	 color:white;
	 margin:10px;}			 
	 